$hoverGreen : rgb(146, 215, 55);
.body{
  &__list{
    display: inline-block;
    width: 20%;
    height: 100%;
    background-color: $hoverGreen;
  }
  &__content{
    display: inline-block;
    width: 80%;
    height: 600px;
  }
}
