h1{
  font: 34px/1 "Arial Black";
}

h2{
  font: 20px/1 "Arial Black";
}

p{
  font: 16px/1 "Arial Black";
}

.main{
  &_content{
    margin-bottom:50px;
    display: block;
  }
  news{
    margin-bottom: 0px;
  }
  h2{
    font: 20px/1 "Arial Black";
    float: right;
    font-weight: bold;
    margin: 0px;
  }
}
