h1{
  font: 34px/1 "Arial Black";
}

h2{
  font: 20px/1 "Arial Black";
}

p{
  font: 16px/1 "Arial Black";
}

.main{
  &__content{
    margin-bottom:50px;
    display: block;
    width:95%;
    height:auto;
    p{
      word-break: break-all;
    }
    &__news{
      float: right;
      margin-bottom: 0px;
      h2{
        font: 20px/1 "Arial Black";
        float: right;
        font-weight: bold;
        margin: 0px;
      }
    }
  }
}

.code:hover {
  cursor: pointer;
}

.cs{
  p{
    font: 16px/1 "Arial Black";
  }
}
.countLi{
  background: url("../img/clac.png");
  display: block;
  float: right;
  height: 150px;
  width: 225px;
  background-position:center;
  background-size:225px 150px;
  background-repeat:no-repeat;
}

.countLi:hover{
  background: url("../img/clac-hover.png");
  background-position:center;
  background-size:225px 150px;
  background-repeat:no-repeat;
}

.un-Min-Hight{
  min-height: inherit;
}
