.title{
  margin-top: 10px;
  h1{
    text-align: center;
  }
}

.entrance{
  text-align: center;
  img{
    max-width: 512px;
    width: 100%
  }
}

.bulb{
  text-align: center;
  img{
    max-width: 512px;
    width: 100%
  }
}
