.main__content{
  min-height: 1200px;
  &__body{
    &__img{
      height: 500px;
    }
    p{
      word-break: break-all;
    }
  }

}
.main__slid{
  &__slid-box{
    &__content{
      p{
        word-break: break-all;
      }
    }
  }
}
