.main__content{
  width: 96%;
  height: auto;
  &__body{
    height: auto;
    &__label{
      margin-bottom: 10px;
      p{
        width: 30%;
        display: inline-block;
        text-align: center;
        margin: auto;
      }
    }
    &__text{
      margin-bottom: 10px;
      &__input{
        display: inline-block;
        width: 30%
      }
    }
    &__pluse{
      height: 30px;
      input{
        float: right;
      }
    }
    &__count{
      input{
        float: right;
      }
    }
  }
}
