.main{
  max-width: 1280px;
  width: 90%;
  margin: 10px auto;
  &__content{
    float: left;
    width: 70%;


    @mixin mi-pad{
      float: none;
      display: inline-block;
      margin: -10px;
      width: 90%;
    }
    &__button{
      padding: 10px;
      font: 16px/1 "Arial Black";
    }
    &__body{
      width: 100%;

      p{
        word-break: break-all;
      }
      &__img{
        display: inline-block;
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size:cover;
      }
    }
    &__more{
      height: 50px;
      width: 100%;
      padding: 0px;
      margin-top: 20px;
      box-shadow:2px 2px 3px 2px #222222;
      &__click{
        margin-top: -20px;
        h2{
          margin: 20px;
          padding-top: 14px;
        }
      }
    }
  }
  &__slid{
    float: right;
    width: 20%;
    height: 700px;
    @mixin mi-pad{
      float: none;
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
      margin-top: 20px;
      margin-left: -10px;
      width: 100%;
      height: 400px;
    }
    &__slid-box{
      margin-bottom: 60px;
      @mixin mi-pad{
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block;
        width: 90%;

      }
      &__content{

      }
      &__button{
        display: inline-block;
        height: 30px;
        width: 50px;
        p{
          margin: 5px;
        }
      }
    }
  }
}
